<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dynamicschedule.dao.ScheduleJobExtandMapper">
    <update id="updateBatch" >
         update schedule_job set status =#{status} where   job_id in
        <foreach collection="ids"  item="id" open="(" separator="," close=")"  >
                 #{id,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from schedule_job where job_id in
         <foreach collection="ids"  item="id" open="(" separator="," close=")" index="index"  >
             #{id,jdbcType=INTEGER}
         </foreach>

    </delete>
</mapper>
